body {
  font-family: Arial, sans-serif;
}

.box{
  width: 200px;
  height: 200px;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}

.box1{
  position: static;
  left: 30px;
}

.box2{
  position: relative;
  left: 30px;
  top: 20px;
}

.box3{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.box4{
  position: sticky;
  top: 100px;
}

.box5{
  position: relative;
  width: 600px;
  height: 600px;
  background-color: coral;
}

.box6{
  position: absolute;
}